.modal-content .shortcode_info .row {
  margin-top: 20px;
}

.doc_left_sidebarlist {
  padding-top: 60px;
}

/** === Comments === **/
.wedocs-comments-wrap {
  padding-right: 18px;
  padding-bottom: 100px;
  padding-top: 50px;
}

.wedocs-comments-wrap #comments {
  padding: 0 28px 0 0;
}

.full-width-doc .wedocs-comments-wrap {
  padding-right: 18px;
  padding-left: 15px;
  padding-bottom: 100px;
}

.full-width-doc .wedocs-comments-wrap #comments {
  padding: 0 15px;
}

.full-width-doc .wedocs-comments-wrap .blog_comment_box {
  padding-left: 15px;
  padding-right: 15px;
}

p .footnotes-link {
  color: var(--brand_color) !important;
}

p .footnotes-link::after {
  display: none;
}

.wedocs-comments-wrap .blog_comment_box.no_comments {
  padding-top: 40px;
}

.full-width-doc .body_fixed .doc_rightsidebar, .full-width-doc .body_fixed .doc_left_sidebarlist {
  padding-top: 60px;
}

.doc_left_sidebarlist h2.doc-title {
  font-size: 24px;
  font-weight: 500;
}

.page-template-page-onepage #post {
  max-width: 1140px;
  margin: 0 auto;
}

.nav-sidebar .nav-item .dropdown_nav ul {
  padding-left: 20px !important;
}

.nav-sidebar .nav-item .dropdown_nav .nav-item {
  margin: 10px 0;
}
.nav-sidebar .nav-item .dropdown_nav .nav-item span.icon {
  display: flex;
  right: -4px;
}
.nav-sidebar .nav-item .dropdown_nav .nav-item .dropdown_nav {
  padding-top: 0;
  display: none !important;
  transition: 0.3s all;
}
.nav-sidebar .nav-item .dropdown_nav .nav-item.active .dropdown_nav {
  display: block !important;
}

.filter_form {
  margin-bottom: 30px;
  margin-right: 27px;
  padding: 0 5px 0 0;
  position: relative;
}
.filter_form input {
  border: 1px solid #efefef;
  width: 100%;
  height: 32px;
  padding: 0 15px 0 10px;
  outline: none;
  margin: 0;
  background: #fff;
  font-size: 0.8rem;
  line-height: 30px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}
.filter_form .filter_no_result {
  display: none;
  font-weight: 400;
  color: var(--black_400);
  font-size: 14px;
  margin-top: 5px;
}

.single-docs .side_menu .close_nav i + i {
  display: none;
}
.single-docs .side_menu.menu-opened .close_nav i {
  display: none;
}
.single-docs .side_menu.menu-opened .close_nav i + i {
  display: block;
}

.left-sidebar-toggle {
  position: fixed;
  top: 500px;
  margin-left: -70px;
  color: #656565;
  line-height: 22px;
  cursor: pointer;
  height: 24px;
  text-align: left;
  z-index: 12;
  font-size: 0.95rem;
}
.left-sidebar-toggle .left-arrow {
  display: block;
  border: #e8e8e8 solid 1px;
  border-radius: 20px;
  background: #fafafa;
  padding: 0 9px 0 7.5px;
  height: 24px;
  transition: padding 0.2s;
}
.left-sidebar-toggle .left-arrow:hover {
  color: #ffffff;
  background: var(--brand_color);
  border-color: var(--brand_color);
  padding: 0 20px 0 8px;
}
.left-sidebar-toggle .right-arrow {
  display: none;
  border: #e8e8e8 solid 1px;
  border-radius: 20px;
  background: #fafafa;
  padding: 0 7.5px 0 9px;
  height: 24px;
  transition: padding 0.2s;
}
.left-sidebar-toggle .right-arrow:hover {
  color: #ffffff;
  background: var(--brand_color);
  border-color: var(--brand_color);
  padding: 0 8px 0 20px;
}

.body_fixed .left-sidebar-toggle {
  top: 65px;
  margin-left: -78px;
}

.navbar_fixed.fadeInDown ~ .body_fixed .left-sidebar-toggle {
  top: 115px;
}

.nav-sidebar .nav-item.no_icon.active .nav-link img + img {
  display: inline;
}

.load-more:hover {
  cursor: pointer;
  color: var(--brand_color);
  text-decoration: underline;
}
.load-more ion-icon {
  margin-bottom: -2px;
}

.fadeGradient {
  z-index: 2;
  position: relative;
  height: 50px;
  margin-top: -50px;
  overflow-x: hidden;
  background: -moz-linear-gradient(bottom, white 15%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(bottom, white 15%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(bottom, white 15%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(bottom, white 15%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#03ffffff", endColorstr="#ffffff", GradientType=0 );
  background: linear-gradient(bottom, white 15%, rgba(255, 255, 255, 0) 100%);
  display: block;
}

/*# sourceMappingURL=docs.css.map */
